doctype html
link(rel='stylesheet', type='text/css', href='/semantic.css')
link(rel='stylesheet', type='text/css', href='/styles.css')
head
  title failed
.ui.raised.very.padded.text.container.segment
  p.ui.large.header Adding User Failed
  .field
    a.ui.green.button(href='/adduser') Try Again
  .field
    a.ui.green.button(href='/') Go Back
script(src='/semantic.js')
