doctype html
link(rel='stylesheet', type='text/css', href='/semantic.css')
link(rel='stylesheet', type='text/css', href='/styles.css')
head
  title Add New User
.ui.raised.very.padded.text.container.segment
  h1.ui.huge.header Add new user
  form.ui.form(action='/adduser', method='post')
    .field
      label Name:
      input(type='text', name='name')
    .field
      label Address:
      input(type='text', name='address')
    .field
      label Phone Number:
      input(type='text', name='phone')
    .field
      label Password:
      input(type='password', name='password')
    .field
      input.ui.orange.button(type='submit')
script(src='/semantic.js')
