doctype html
link(rel='stylesheet', type='text/css', href='css/semantic.css')
link(rel='stylesheet', type='text/css', href='css/styles.css')
head
  title success
.ui.raised.very.padded.text.container.segment
  p.ui.large.header Adding User Successful
  .field
    a.ui.green.button(href='/adduser') Try Again
  .field
    a.ui.green.button(href='/') Go Back
script(src='./css/semantic.js')
