doctype html
link(rel='stylesheet', type='text/css', href='semantic.css')
link(rel='stylesheet', type='text/css', href='styles.css')
head
  title Hi there!
.ui.raised.very.padded.text.container.segment
  p.ui.huge.header Welcome!
  .field
    a.ui.orange.button(href='/adduser') Add New User
  .field
    a.ui.orange.button(href='/uploader') Upload an Image
  .field
    a.ui.orange.button(href='/viewbill/login') View Bill
script(src='semantic.js')
