doctype html
link(rel='stylesheet', type='text/css', href='css/semantic.css')
link(rel='stylesheet', type='text/css', href='css/styles.css')
head
  title Bill Payed
.ui.raised.very.padded.text.container.segment
  h1.ui.large.header Bill Payed
  .field
    a.ui.green.button(href='/') Go Back
script(src='./css/semantic.js')
