doctype html
link(rel='stylesheet', type='text/css', href='/semantic.css')
link(rel='stylesheet', type='text/css', href='/styles.css')
head
  title failed
.ui.raised.very.padded.text.container.segment
  p.ui.large.header Uploading the image failed
  .field
    a.ui.green.button(href='/uploader') Try Again
  .field
    a.ui.green.button(href='/') Go to index
script(src='/semantic.js')
