doctype html
html(lang='en')
	head
		title Add New User
	body
		h1 Add new user
	form(action='/adduser', method='post')
		div
			label Name:
			input(type='text', name='name')
		div
			label Address:
			input(type='text', name='address')
		div
			label Phone Number:
			input(type='text', name='phone')
		div
			label Password:
			input(type='password', name='password')
		div
			input(type='submit')
