doctype html
html(lang='en')
	head
		title #{title}
	body
		h1 #{title}
		p Welcome!
		a(href='/adduser') Add New User
		br
		a(href='/uploader') Upload an Image
		br
		a(href='/viewbill/login') View Bill
		br
