doctype html
html(lang='en')
	head
		title Upload Image
	body
		h1 Upload Image
		form(action='/uploader', method='post', enctype="multipart/form-data")
			div
				label id:
				input(type='text', name='id')
			div
				label image
				input(type='file', name='imgfile')
			div
				input(type='submit')
