<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="css/semantic.css">
<link rel="stylesheet" type="text/css" href="css/styles.css">

<head>
    <title>failed</title>
</head>

<body>
    <div class="ui raised very padded text container segment">
        <p class="ui large header">Adding User Failed</p>
        <div class="field"><a class="ui green button" href="./adduser.html">Try Again</a></div>
        <div class="field"><a class="ui green button" href="./index.html">Go Back</a></div>
    </div>
</body>

</html>