<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="css/semantic.css">
<link rel="stylesheet" type="text/css" href="css/styles.css">

<head>
    <title>Hi there!</title>
</head>

<body>
    <div class="ui raised very padded text container segment">
        <p class="ui huge header">Welcome!</p>
        <div class="field">
            <a class="ui orange button" href="./adduser.html">Add New User</a>
        </div>
        <div class="field">
            <a class="ui orange button" href="/uploader.html">Upload an Image</a>
        </div>
        <div class="field">
            <a class="ui orange button" href="/viewbill/login.html">View Bill</a>
        </div>
    </div>
</body>

</html>