<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="css/semantic.css">
<link rel="stylesheet" type="text/css" href="css/styles.css">

<head>
    <title>Success</title>
</head>

<body>
    <div class="ui raised very padded text container segment">
        <p class="ui large header">Uploading image success</p>
        <div class="field"><a class="ui green button" href="./uploader.html">Add another Upload</a></div>
        <div class="field"><a class="ui green button" href="./index.html">Go to index</a></div>
    </div>
    <script src="./css/semantic.js"></script>
</body>

</html>